option_settings:
    aws:elasticbeanstalk:application:environment:
        APP_CERTIFICATE: 46bafc0df60f4cc6ae1af88db61f049c
        APP_ID: 241fff654ecb4d5bba058c19f3c6ef11
        BUCKET_ACCESS_KEY: GOOG5Y7QVHOCLZYROLVL7EZX
        BUCKET_ACCESS_SECRET: R+ZVzgYzxXiXofDp7ithbMHi/spemr4nvwXrrVpv
        BUCKET_NAME: blive-music-recordings
        CUSTOMER_CERTIFICATE: 8087acab667f4ebca853e63ede418628
        CUSTOMER_ID: 5e4f94c06f9f4a25a0bbdd981f4ff3ea
        RECORDING_REGION: 0
        RECORDING_VENDOR: 6